{% extends 'TaskManagerApp/base.html' %}
{% block content %}
<div class="form-container">
    <h2>Update Task</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.task.label_tag }}
            {{ form.task }}
            <button type="submit" name="select_task">Select Task</button>
        </div>
        {% if form.instance.pk %}
        <div class="form-group">
            <label for="{{ form.task_name.id_for_label }}">Task Title</label>
            {{ form.task_name }}
        </div>
        <div class="form-group">
            <label for="{{ form.task_description.id_for_label }}">Description</label>
            {{ form.task_description }}
        </div>
        <div class="form-group">
            <label for="{{ form.total_effort.id_for_label }}">Total Effort (hours)</label>
            {{ form.total_effort }}
        </div>
        <div class="form-group">
            <label for="{{ form.status.id_for_label }}">Status</label>
            {{ form.status }}
        </div>
        <div class="form-group">
            <button type="submit">Submit</button>
        </div>
        {% endif %}
    </form>
</div>
{% endblock %}