/* static/TaskManagerApp/styles.css */
.navbar-custom {
    background: linear-gradient(to right, rgb(0, 204, 255), rgb(101, 196, 101));
    justify-content: center; /* Center the content horizontally */
    width: 100%; /* Make the navbar full width */
    height: 100px;
}

.navbar-custom .navbar-brand {
    margin: 0 auto; /* Center the brand name */
    font-size: xx-large;
}

.navbar-custom .navbar-brand {
    color: rgb(18, 18, 19);
}

.navbar-custom .navbar-brand:hover {
    color: rgb(18, 18, 19);
}

.navbar-custom .nav-link {
    color: rgb(16, 226, 103);
}

.navbar-custom .nav-link:hover {
    color: rgb(16, 114, 206);
}


.sidebar {
    height: 100%;
    width: 180px;
    position: fixed;
    left: 0;
    background: rgb(0, 204, 255);
    padding-top: 20px;
}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(18, 18, 19);
    display: block;
}

.sidebar a:hover {
    background:linear-gradient(to right, rgb(123, 182, 157), rgb(101, 196, 101));
}

.button-group {
    flex-direction: column;
    margin-bottom: 10px; /* Adjust the gap between buttons */
}

.styled-button {
    background-color: rgb(125, 233, 134);
    color: rgb(22, 20, 20);
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    flex-direction: column;
    font-size: 16px;
    margin: 4px 2px;
    width: 500px; /* Set a fixed width for all buttons */
    height: 80px; /* Set a fixed height for all buttons */
    cursor: pointer;
    transition: transform 0.3s ease; /* Smooth transition */
}

.styled-button:hover {
    transform: scale(1.2); /* Enlarge the button */
}

.form-container {
    margin-top: 4%;
    background: linear-gradient(to right, rgb(130, 238, 205), rgb(102, 226, 185));
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(131, 235, 166, 0.1);
    width: 1000px;
}
.form-container h2 {
    margin-bottom: 50px;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
}
.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-group textarea {
    resize: vertical;
}
.form-group button {
    width: 10%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.form-group button:hover {
    background-color: #0056b3;
    transform: scale(1.2);

}

.delete-btn{
    background-color: #dc3545;
}

.accordion {
    border: 3px solid #46e7a9;
    border-radius: 8px;
    margin: 8px 0;
  }
  
  .accordion-item {
    border-bottom: 1px solid #62eb9b;
  }
  
  .accordion-header {
    padding: 16px;
    cursor: pointer;
    background: #63e093;
  }
  
  .accordion-content {
    padding: 16px;
    display: none;
    background:#8cf0be;
  }
  
  .accordion-header:hover + .accordion-content {
    display: block;
  }
 

.body{
    background-color: rgb(187, 235, 208);
    margin: 0%;
    padding: 0%;
}

.styled-select {

    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #99eba4;
    font-size: 16px;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

}